body {
    background-image: url("https://media.istockphoto.com/id/1302189748/photo/digital-cyberspace-with-particles-and-digital-data-network-connections-high-speed-connection.jpg?s=612x612&w=0&k=20&c=mzlGDQ2JPVDYQ14FoSBB9fCu6nH3WW54NWEQD6H5o48=");
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100vw;
    min-height: 100vh;
    background-position: center center;
}